/* code block group */

.vp-code-group {
  @apply my-6 drop-shadow-xs;
}

.vp-code-group .tabs input {
  @apply pointer-events-none hidden;
}

.vp-code-group .tabs {
  @apply mx-0.5 flex items-center overflow-y-hidden;
  scrollbar-width: none;
}

.vp-code-group .tabs label {
  @apply flex h-8.5 cursor-pointer items-center text-sm not-first-of-type:-ml-4 first-of-type:ml-8 max-sm:first-of-type:ml-4;

  @apply before:h-full before:w-6 before:shrink-0 before:translate-x-2 before:-skew-x-25 before:rounded-tl-lg before:border-y before:border-l before:radius-squircle;
  @apply before:bg-neutral-100 dark:before:bg-neutral-900;
  @apply before:border-neutral-200 dark:before:border-neutral-775;
  @apply hover:before:bg-neutral-125 dark:hover:before:bg-neutral-850;

  @apply after:h-full after:w-6 after:shrink-0 after:-translate-x-2 after:skew-x-25 after:rounded-tr-lg after:border-y after:border-r after:radius-squircle;
  @apply after:bg-neutral-100 dark:after:bg-neutral-900;
  @apply after:border-neutral-200 dark:after:border-neutral-775;
  @apply hover:after:bg-neutral-125 dark:hover:after:bg-neutral-850;
}

.vp-code-group .tabs input:checked + label {
  @apply z-10;

  @apply before:bg-neutral-150 dark:before:bg-neutral-825;
  @apply before:border-neutral-200 dark:before:border-neutral-775;
  @apply before:border-b-neutral-150 dark:before:border-b-neutral-825;

  @apply after:bg-neutral-150 dark:after:bg-neutral-825;
  @apply after:border-neutral-200 dark:after:border-neutral-775;
  @apply after:border-b-neutral-150 dark:after:border-b-neutral-825;
}

.vp-code-group .tabs label span {
  @apply relative z-10 flex h-full items-center overflow-hidden border-y;

  @apply bg-neutral-100 dark:bg-neutral-900;
  @apply border-neutral-200 dark:border-neutral-775;
}

.vp-code-group .tabs input:checked + label span {
  @apply bg-neutral-150 dark:bg-neutral-825;
  @apply border-neutral-200 dark:border-neutral-775;
  @apply border-b-neutral-150 dark:border-b-neutral-825;
}

.vp-code-group .tabs label:hover span {
  @apply bg-neutral-125 dark:bg-neutral-850;
}

.vp-code-group .blocks {
  @apply relative -translate-y-px rounded-lg border p-4 radius-squircle;
  @apply bg-neutral-150 dark:bg-neutral-825;
  @apply border-neutral-200 dark:border-neutral-775;
}

.vp-code-group .blocks > * {
  @apply my-0 hidden;
}

.vp-code-group .blocks > .active {
  @apply block;
}

.vp-code-group .tabs label span {
  @apply flex items-center gap-x-1.5;
  @apply before:inline-block before:size-4.5 before:bg-cover before:bg-no-repeat;
}

.vp-code-group .tabs label[data-title='pnpm'] span::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23f9ad00' d='M30 10.75h-8.749V2H30Zm-9.626 0h-8.75V2h8.75Zm-9.625 0H2V2h8.749ZM30 20.375h-8.749v-8.75H30Z'/%3E%3Cpath fill='%234e4e4e' d='M20.374 20.375h-8.75v-8.75h8.75Zm0 9.625h-8.75v-8.75h8.75ZM30 30h-8.749v-8.75H30Zm-19.251 0H2v-8.75h8.749Z'/%3E%3C/svg%3E");
}

.vp-code-group .tabs label[data-title='npm'] span::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23c12127' d='M2 2h28v28H2'/%3E%3Cpath fill='%23fff' d='M7.25 7.25h17.5v17.5h-3.5v-14H16v14H7.25'/%3E%3C/svg%3E");
}

.vp-code-group .tabs label[data-title='yarn'] span::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%232188b6' d='M28.208 24.409a10.5 10.5 0 0 0-3.959 1.822a23.7 23.7 0 0 1-5.835 2.642a1.63 1.63 0 0 1-.983.55a62 62 0 0 1-6.447.577c-1.163.009-1.876-.3-2.074-.776a1.573 1.573 0 0 1 .866-2.074a4 4 0 0 1-.514-.379c-.171-.171-.352-.514-.406-.388c-.225.55-.343 1.894-.947 2.5c-.83.839-2.4.559-3.328.072c-1.019-.541.072-1.813.072-1.813a.73.73 0 0 1-.992-.343a4.85 4.85 0 0 1-.667-2.949a5.37 5.37 0 0 1 1.749-2.895a9.3 9.3 0 0 1 .658-4.4a10.45 10.45 0 0 1 3.165-3.661S6.628 10.747 7.35 8.817c.469-1.262.658-1.253.812-1.308a3.6 3.6 0 0 0 1.452-.857a5.27 5.27 0 0 1 4.41-1.7S15.2 1.4 16.277 2.09a18.4 18.4 0 0 1 1.533 2.886s1.281-.748 1.425-.469a11.33 11.33 0 0 1 .523 6.132a14 14 0 0 1-2.6 5.411c-.135.225 1.551.938 2.615 3.887c.983 2.7.108 4.96.262 5.212c.027.045.036.063.036.063s1.127.09 3.391-1.308a8.5 8.5 0 0 1 4.277-1.604a1.081 1.081 0 0 1 .469 2.11Z'/%3E%3C/svg%3E");
}

.vp-code-group .tabs label[data-title='bun'] span::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23fbf0df' d='M29 17c0 5.65-5.82 10.23-13 10.23S3 22.61 3 17c0-3.5 2.24-6.6 5.66-8.44S14.21 4.81 16 4.81s3.32 1.54 7.34 3.71C26.76 10.36 29 13.46 29 17'/%3E%3Cpath fill='none' stroke='%23000' d='M16 27.65c7.32 0 13.46-4.65 13.46-10.65c0-3.72-2.37-7-5.89-8.85c-1.39-.75-2.46-1.41-3.37-2l-1.13-.69A6.14 6.14 0 0 0 16 4.35a6.9 6.9 0 0 0-3.3 1.23c-.42.24-.86.51-1.32.8c-.87.54-1.83 1.13-3 1.73C4.91 10 2.54 13.24 2.54 17c0 6 6.14 10.65 13.46 10.65Z'/%3E%3Cellipse cx='21.65' cy='18.62' fill='%23febbd0' rx='2.17' ry='1.28'/%3E%3Cellipse cx='10.41' cy='18.62' fill='%23febbd0' rx='2.17' ry='1.28'/%3E%3Cpath fill-rule='evenodd' d='M11.43 18.11a2 2 0 1 0-2-2.05a2.05 2.05 0 0 0 2 2.05m9.2 0a2 2 0 1 0-2-2.05a2 2 0 0 0 2 2.05'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M10.79 16.19a.77.77 0 1 0-.76-.77a.76.76 0 0 0 .76.77m9.2 0a.77.77 0 1 0 0-1.53a.77.77 0 0 0 0 1.53'/%3E%3Cpath fill='%23b71422' stroke='%23000' stroke-width='.75' d='M18.62 19.67a3.3 3.3 0 0 1-1.09 1.75a2.48 2.48 0 0 1-1.5.69a2.53 2.53 0 0 1-1.5-.69a3.28 3.28 0 0 1-1.08-1.75a.26.26 0 0 1 .29-.3h4.58a.27.27 0 0 1 .3.3Z'/%3E%3Cpath fill='%23ccbea7' fill-rule='evenodd' d='M14.93 5.75a6.1 6.1 0 0 1-2.09 4.62c-.1.09 0 .27.11.22c1.25-.49 2.94-1.94 2.23-4.88c-.03-.15-.25-.11-.25.04m.85 0a6 6 0 0 1 .57 5c0 .13.12.24.21.13c.83-1 1.54-3.11-.59-5.31c-.1-.11-.27.04-.19.17Zm1-.06a6.1 6.1 0 0 1 2.53 4.38c0 .14.21.17.24 0c.34-1.3.15-3.51-2.66-4.66c-.12-.02-.21.18-.09.27ZM9.94 9.55a6.27 6.27 0 0 0 3.89-3.33c.07-.13.28-.08.25.07c-.64 3-2.79 3.59-4.13 3.51c-.14-.01-.14-.21-.01-.25'/%3E%3C/svg%3E");
}

/* code block group children */

.vp-code-group .blocks [class*='language-'] {
  @apply drop-shadow-none;
}

.vp-code-group .blocks [class*='language-'] pre {
  @apply border-neutral-200 dark:border-neutral-775;
}
